:root {
  --color-text: #0a3871;
  --color-bg: rgb(216, 230, 228);
  --color-btn-hover: rgb(102, 218, 198);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-bg);
}

section.section {
  padding: 60px 0;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.row {
  height: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.main label {
  height: 100%;
  width: 100%;
}

.output {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 40px 10px;
  align-items: center;
  background: rgb(255 255 255 / 60%);
  min-width: 30%;
}

.outputText {
  flex: 1;
}

textarea {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0%);
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  color: var(--color-text);
}

textarea::placeholder {
  font-size: 1.2rem;
  opacity: 0.25;
  color: var(--color-text);
}

.hint {
  margin: 6px;
}

button {
  padding: 10px 20px;
  border-radius: 16px;
  width: 180px;
  margin: 0 8px;
  color: var(--color-text);
  font-weight: 600;
}

button:hover {
  background: var(--color-btn-hover);
  cursor: pointer;
}

.copy.show.check {
  color: white;
  border: 2px solid white;
  background: green;
}

.copy {
  display: none;
}

.copy.show {
  display: block;
}

.output {
  color: var(--color-text);
}

@media screen and (max-width: 800px) {
  .controls {
    display: flex;
  }
  .output {
  }

  .row {
    flex-direction: column;
  }
}
